.next-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #002060; /* 深い青色 */
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.next-button .arrow {
    color: #a9a9a9; /* メタリックグレー */
    font-size: 24px;
    transition: transform 0.3s;
}

.next-button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.next-button:active .arrow {
    transform: rotateY(360deg);
}

.next-button:active {
    transform: scale(0.95);
}
