* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    /* padding: 0; */
    font-family: Arial, sans-serif;


    /* 追加 */
    background-color: #f5f5f5;
    /* padding: 20px; */
    padding: 0;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;

    padding: 10px 0;
}


header h1 {
  margin: 0;
  margin-bottom: 60px;
}

nav ul {
    list-style-type: none;


    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
nav ul li a {
    color: #fff;
    text-decoration: none;
  }  




  /* 共通の見出し　ｈ１ */

   /* 共通の見出し　ｈ２ */
  .section-title {
    /* margin: 0 auto; */
    text-align: center;
    margin-top: 16px;


  }
   /* 共通の見出し　ｈ３ */

    /* 共通の見出し　ｈ４ */



/* ガジェット箱と自己紹介箱を囲んだ「箱」 */
  .card__aside {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  background-color: #fff;
  margin: 0 auto;
  max-width: 1200px; /* 必要に応じて最大幅を調整 */
  padding: 20px; /* 必要に応じて余白を調整 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  gap: 20px;

}

/* ガジェット側   */  /* 自己紹介側*/
.card__aside-left-colum,  .card__aside-right-column{
  flex: 1;
  /* padding: 20px; */

  min-width: 300px;

}

/* ガジェットタイトル */
.card__aside-title {
  /* font-size: 24px; */
  /* margin-bottom: 20px; */


  font-size: 1.2rem;
  margin: 0 0 10px;
}
/* カレンダー */
.date-selector {
  margin-bottom: 20px;
  width: 180px;
  height: 180px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




/* 為替ガジェット */
.exchange-gadget__currency {
  margin-bottom: 10px;
}

.exchange-gadget__label {
  font-size: 16px;
}

.exchange-gadget__rate {
  font-size: 16px;
  font-weight: bold;
}

/* 自己紹介の場 */
.content-section__name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content-section__intro {
  font-size: 16px;
  margin-bottom: 10px;
}

.content-section__note {
  /* font-size: 14px; */
  color: #555;

  font-size: 1.2rem;
  margin: 0 0 10px;
}

.content-sectionP{
 /* オーバーフローする内容にスクロールを追加 */
overflow: auto;
}





/* カレンダー */
.date-selector {
    width: 180px;
    height: 180px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date-selector__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.clock-container {
  margin-bottom: 20px;
}

/* その日の日付に、オレンジ色を付ける。 */
.today {
  background-color: orange;
}


/* 時計ガジェット */
.clock-container {
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: #3f3d3d;
  border: #b9b3b3 solid 1px;
}
.clock {
  font-size: 32px;
  text-align: center;
}

/* 天気風ガジェット */
.content-section {
  /* width: 180px; */
  margin-bottom: 20px;
  overflow: hidden;
  /* margin: 0 auto; */
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 15px -5px #777777;;
}

.content-section__header {
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #3f3d3d;
  /* margin: 0 auto; */
  color: #e9e5e5;
  text-align: center;
}

.content-section__title {
  font-size: 20px;
  font-weight: bold;
  
}

.weather__title {
  /* font-size: 18px; */
  margin-bottom: 10px;
  text-align: center;

  font-size: 1.2rem;
  margin: 0 0 10px;
  
}

.weather__icon {
  width: 50px;
  height: 50px;
  background-color: #e7cfa3;
  margin-bottom: 10px;
  margin: 0 auto;
}

.weather__temperature, .weather__condition {
  font-size: 16px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 2px;
}







/* 天気予測Python  */
.weathercontainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.chart {
  /* width: 100%; */
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.data-point {
  fill: blue;
}

.predicted-line {
  fill: none;
  stroke: red;
  stroke-width: 2;
  stroke-dasharray: 5;
}






/* 自己紹介 */
.profile {
  text-align: left;
  background-color: #2b2a2a;
  border: #b9b3b3 solid 3px;
  /* color: #ebe9e9e8; */
  /* font-family: fantasy; */
  padding-left: 5px;

}

/* 名前 */
.profile__name,
/* 自己紹介欄 */
.profile__intro,
/* 補足 */
.profile__note {
    color: #ebe9e9e8;
    font-family: fantasy;
}


/* レスポンシブ対応 */
@media (max-width: 768px) {
  .header-content {
      flex-direction: column; /* 小さい画面サイズでは縦方向に並べる */
  }

  .container {
    /* gap: 0.5cm;
    /* width: 25%; */
    /* flex-direction:row; */
    /* align-items: center; */
    /* display:inline-block; */
    /* margin: 0 auto; */
    /* justify-content: space-between; */
  }

  .column {
    max-width: 8px;
    flex-direction: row-reverse;
  }
  .block {
    /* flex-direction: row-reverse; */
    
  }
}





/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */




/* sakuhinn 実績　Portfolio */
/*  */
 .main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    border: solid 2px;
  }



  
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3cm;
    margin-top: 20px; /* 上部のマージンを追加 */

    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;

    gap: 10px;
}


.block {
  width: 3cm;
  height: 3cm;
  background-color: #9bdaf1; /* グミのような色に設定 */
  margin-bottom: 3cm;
  border-radius: 10px; /* 角を少し丸くする */
  transition: transform 0.2s ease-in-out; /* アニメーションの設定 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* 初期状態で影を追加 */
}

.block--hover {
  transform: rotate(2deg) scale(1.05); /* ポインターを当てると少し揺れる */
}


.block a {
  text-decoration: none;
  color: #333;
}


/* pink */
.block-pink {
  width: 3cm;
  height: 3cm;
  /* グミのような色に設定 */
  /* background-color: #9bdaf1; */
  margin-bottom: 3cm;
  border-radius: 10px; /* 角を少し丸くする */
  transition: transform 0.2s ease-in-out; /* アニメーションの設定 */
  background-color: #DD2D90;
  border: 2px solid #DA9497;
  /* box-shadow:; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* 初期状態で影を追加 */
}

.block-pink--hover {
  transform: rotate(2deg) scale(1.05); /* ポインターを当てると少し揺れる */
}


.block-pink a {
  text-decoration: none;
  color: #333;
}


/* orange　カレー */
.block-orange {
  width: 3cm;
  height: 3cm;
  /* グミのような色に設定 */
  /* background-color: #9bdaf1; */
  margin-bottom: 3cm;
  border-radius: 10px; /* 角を少し丸くする */
  transition: transform 0.2s ease-in-out; /* アニメーションの設定 */
  background-color: #dda52d;
  /* border: 2px solid #DA9497; */
  /* box-shadow:; */
  /* font-family: Chili Pepper; */
  font-family: 'Spicy Rice', cursive;
  font-weight: 200;
  font-size: 16px;
  font: bold;
  padding-top: 5px;
  /* box-shadow: #942121 2px; */
  /* border: #942121 2px solid; */

  /* border: #942121 2px solid; */
  /* box-shadow:  10px 15px -5px #942121; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* 初期状態で影を追加 */

}

.block-orange--hover {
  transform: rotate(2deg) scale(1.05); /* ポインターを当てると少し揺れる */



}


.block-orange a {
  text-decoration: none;
  color: #333;

  font-family: 'Spicy Rice', cursive;
  font: bold;

  border-bottom: #942121 2px solid;
  
}




.block-orange__curry {
  /* background-image: url('../js/images/night001.jpg'); */

}
.orange__curry--img {
  width: 70%;
  /* height: auto; */
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 20%;

  border: #942121 2px solid;
}



/* brown　焼肉 */
.block-brown {
  width: 3cm;
  height: 3cm;
  /* グミのような色に設定 */
  /* background-color: #9bdaf1; */
  margin-bottom: 3cm;
  border-radius: 10px; /* 角を少し丸くする */
  transition: transform 0.2s ease-in-out; /* アニメーションの設定 */
  background-color: #da4d2a;
  /* border: 2px solid #DA9497; */
  /* box-shadow:; */
  /* font-family: Chili Pepper; */
  font-family: 'Spicy Rice', cursive;
  font-weight: 200;
  font-size: 16px;
  font: bold;
  padding-top: 5px;
  /* color: #ccc; */
  /* box-shadow: #942121 2px; */
  /* border: #942121 2px solid; */

  /* border: #942121 2px solid; */
  /* box-shadow:  10px 15px -5px #942121; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* 初期状態で影を追加 */

}

.block-brown--hover {
  transform: rotate(2deg) scale(1.05); /* ポインターを当てると少し揺れる */



}


.block-brown a {
  text-decoration: none;
  /* color: #333; */
  color: #ccc;

  font-family: 'Spicy Rice', cursive;
  font: bold;

  border-bottom: #942121 2px solid;
  
}




.block-brown__Grilled {
  /* background-image: url('../js/images/night001.jpg'); */

}
.brown__GrilledMeat--img {
  width: 70%;
  /* height: auto; */
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 20%;

  border: #942121 2px solid;
}




/* シューティング　濃い青 */
/* azure-blue */
.block-azure-blue {
  width: 3cm;
  height: 3cm;
  /* グミのような色に設定 */
  /* background-color: #9bdaf1; */
  margin-bottom: 3cm;
  border-radius: 10px; /* 角を少し丸くする */
  transition: transform 0.2s ease-in-out; /* アニメーションの設定 */
  background-color: #110794;
  border: 2px solid #50bd86e7;
  /* box-shadow:; */
  font-size: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* 初期状態で影を追加 */
}

.block-azure-blue--hover {
  transform: rotate(2deg) scale(1.05); /* ポインターを当てると少し揺れる */
}


.block-azure-blue a {
  text-decoration: none;
  color: #8ad490;
}


.block-azure-blue__Shooting--img {
  width: 70%;
  /* height: auto; */
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 20%;

  border: #942121 2px solid;
}