body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
nav ul li a {
    color: #fff;
    text-decoration: none;
  }  



/* カレンダー */
  .date-selector {
    width: 180px;
    height: 180px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date-selector__input {
    margin-bottom: 10px;
}

.date-selector__calendar {
    width: 100%;
    height: 100%;
    overflow: auto;
}




  /* .clock {
    position: fixed;
    top: 50px;
    left: 50px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px; */
      /* 大きさを自動的に調整 */
  /* width: 80px; */
  /* height: auto; */
  /* height: 80px; */
  /* } */
  
  .clock-container {
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: flex-end; /* 要素を下端に配置 */
    transform: scaleY(); /* Y軸を中心に反転 */
  }
  .clock {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
  }

/* 天気風ガジェット */
.gadget {
    width: 300px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.gadget__header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.gadget__title {
    margin: 0;
}

.gadget__content {
    padding: 20px;
}

.weather {
    text-align: center;
}

.weather__icon {
    width: 100px;
    height: 100px;
    background-color: #fff; /* ここに天気アイコンの背景色や画像を設定 */
    margin: 0 auto 10px;
}

.weather__temperature,
.weather__condition {
    margin: 5px 0;
}



 .main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    border: solid 2px;
  }



  
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3cm;
    margin-top: 20px; /* 上部のマージンを追加 */
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block {
    width: 3cm;
    height: 3cm;
    background-color: lightblue;
    margin-bottom: 3cm;
}
